body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 1485px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    margin-left: 1%;
    margin-top: 10px;
    border: 1px solid lightgrey;
    box-shadow: 4px 4px gray;
}

header div {
    width: 70%;
}

header h1 {
    padding-left: 1em;
    margin: 0;
}

header h2 {
    padding-top: .2em;
    margin: 0;
}

header p {
 font-size: 1.1rem;
}

figure {
    margin: 0;
}

figure img {
    height: 150px;
    width: 112px;
}

h1 + p {
    margin-top: 0;
    padding-left: 3em;
}

main {
    height: 80%;
    display: flex;
    width: 95%;
    flex-direction: row-reverse;
    justify-content: space-around;
}

main > .aside {
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

main > .article {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside {
    border: 1px solid darkslategrey;
    border-radius: 10px / 10px;
    width: 80%;
    background-color: purple;
    color: antiquewhite;
    text-shadow: 1px black;
    padding-right: 1em;
}

aside a {
    color: lightblue;
}

aside li {
    padding-bottom: 0.2em;
}

a {
    text-decoration: none;
}

h5 {
    padding-left: 2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: .9rem;
}

.content h5 {
    font-size: 1rem;
}


.contact,
article ul {
    list-style-type: none;
    margin-top: 0;
}

article .content {
    border-left: 1px solid darkslategray;
}


.content > p {
    padding-left: 1em;
}

h3 {
    padding-left: 1em;
}

.ranked {
    display: flex;
}

.ranked ul{
    margin-top: 0;
}

.rank {
    list-style-type: none;
}

.rank li {
    padding-bottom: 0.1em;
}

.checked {
    color: orange;
}

.span {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.span p {
    padding-left: 2rem;
}