body {
  font-family: Roboto, sans-serif;
  background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
}

header {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  padding-left: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
  background-image: url('../Assets/background.png');
  background-size: cover;
  color: #ffffff;
  height: 80px;
  width: 100%;
}

.title h2 {
  padding-left: 20%;
}

.jumbotron {
  display: block;
  background-image: url(../Assets/Lismore.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 450px;
  padding-bottom: 0px;
  border-bottom: solid black 1px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.jumbotron h3 {
  color: #fff;
  text-align: left;
  padding-left: 10%;
}

main {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h3 {
  text-align: center;
}


.language img {
  height: 1.5em;
}

.language {
  display: inline-flex;
  align-items: center;
}


a {
  color: darkslateblue;
  background-color: lavender;
}

a:hover {
  font-size: 1.1em;
}

.portrait {
  width:  350px;
  height: 300px;
}

.banner {
  background-image: url('../Assets/background.png');
  background-size: cover;
  height: 5px;
}

footer {
  font-size: 15px;
}


footer section {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1% ;
}

footer p {
  padding: 0 4%;
}

.footer p {
  padding: 0;
}

.footer {
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.copy {
  font-size: 12px;
}

