* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

header {
    align-items: center;
    padding: 2em 0 1em;
}

header,
.modal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.modal-data ul {
    max-width: 60%;
}

nav {
    width: 60%;
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav li {
    padding-left: 1em;
}

a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
  }

h1 {
    min-width: 40%;
    padding: 0 0 0 1em;
    font-family: "Merriweather", serif;
}

h2 {
    padding: 1em 0 0 1em;
    font-family: "Merriweather", serif;
}

.jumbotron {
    border: 2px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(15, 15, 15);
    border-radius: 10px 10px;
}

.jumbotron figure {
    padding: 1em 1em;
}

.jumbotron img {
    height: 50vh;
    max-width: 50vw;
}

.jumbotron article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 30%;
    padding: 0;
}

.jumbotron button {
    padding: 0.5em 1em;
    color: aquamarine;
    background-color: black;
    border: 1px thick hsl(240, 0%, 10%);
}

.linebreak,
.diaporama {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.galery img {
    min-width: 25%;
    padding: 1vw 2vw;
}

.galery {
    display: flex;
    align-items: center;
    width: 80%;
    height:100%;
    padding: 1%;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.galery::-webkit-scrollbar {
    display: none;
  }

.control {
    width: 10%; 
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control button {
    height: 100%;
    text-align: center;
    justify-items: center;
    font-size: 2em;
    padding: 1vw 1vw;
    background-color: hsl(240 0% 10%);
    color: antiquewhite;
}

.control button:hover {
    text-shadow: 1px 1px 2px #aaa;
    box-shadow: 0px 0px 12px rgb(183, 184, 184);
}

.linebreak .line {
    width: 25%;
    height: 4px;
    background-color: hsl(240, 0%, 80%);
    border: 1px solid hsl(240, 0%, 10%);
    border-radius: 50%;
    margin-bottom: 1em;
}

article:hover .scanner {
    border-radius: 50%;
    animation: scanner-loop 4s linear 0s infinite alternate;
    -webkit-animation: scanner-loop 4s linear 0s infinite alternate;
    width: 30%;
    height: 100%;
    background-color: hsl(240, 0%, 35%);
    box-shadow: 0px 0px 6px hsl(240, 0%, 40%);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #272626;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-data {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (768px <= width < 1200px) {
    .control {
        width: 15%;
    }

    .galery {
        width: 70%;
    }

    .control button {
        font-size: 3em;
        padding: 2vw 1vw;
    }

    nav li {
        padding-left: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .control {
        width: 20%;
    }

    .galery {
        width: 60%;
    }

    .control button {
        font-size: 4em;
        padding: 2vw 1vw;
    }

    nav li {
        padding-left: 3em;
    }
}

@media screen and (orientation: portrait) {
    h1,
    h2 {
        padding-left: 0.4em;
    }

    .control button {
        background-color: black;
        border: none;
        padding: 1vw 1vw;
    }
}

@keyframes scanner-loop {
    from {
        margin-left:0%;
    } to { 
        margin-left:70%;
    }
}

@-webkit-keyframes scanner-loop {
    from {
        margin-left:0%;
    } to {
        margin-left:70%;
    } 
}
